.container {
    max-width: 400px;
  }
  
  .login-card {
    width: 100%;
    max-width: 350px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  }
  
  .flag-icon {
    width: 24px;
    height: 24px;
  }
  
  .logo {
    max-width: 200px;
    height: auto;
  }
  
  .form-group input {
    height: 45px;
    border-radius: 5px;
  }
  
  .forgot-password {
    color: #6c757d;
    font-size: 0.9em;
    text-decoration: none;
  }
  
  .forgot-password:hover {
    text-decoration: underline;
  }
  
  .btn-block {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
  }