.form-check {
    margin-bottom: 2px; /* Ajusta el valor según el espacio que necesites entre checkboxes */
}

.col-md-4 {
    margin-bottom: 20px; /* Espacio entre grupo de checkboxes y siguiente elemento */
}

.a4-page {
    width: 21cm;
    height: 29.7cm;
    margin: 2cm;
    padding: 1cm;
    border: 1px solid #ddd;
  }