.signature-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 10px; /* Asegura que la raya no esté demasiado lejos del input */
  }
  
  .signature-line {
    border-bottom: 1px solid #000;
    width: 100%;
    margin-top: 10px;
  }
  
  .signature-label {
    margin-top: 5px;
    text-align: center;
  }
  