<div class="modal-header" [ngClass]="{'bg-danger text-white': isError, 'bg-primary text-white': !isError}">
    <h4 class="custom-title">{{title}}</h4>&nbsp; &nbsp; 
    <i *ngIf="isError" class="bi bi-ban" style="color: white;font-size: 2rem;"></i>
  <i *ngIf="!isError" class="bi bi-check-circle" style="color: white;font-size: 2rem;"></i>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss('Cross click')"></button>
</div>
<div class="modal-body">
    <p>{{ name }}</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="activeModal.close('Close click')">Close</button>
</div>