
<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="login-card p-4">
  
        <!-- Language Flags -->
    <div class="d-flex justify-content-center mb-3">
      <img src="assets/images/spain.jpg" alt="Spanish" class="flag-icon me-2" (click)="changeLanguage('es')" />
      <img src="assets/images/english.jpg" alt="English" class="flag-icon" (click)="changeLanguage('en')"/>
    </div>

    <!-- Logos -->
    <div class="text-center mb-3">

      <img src="assets/images/Samsung_Logo.png" alt="Ekored Logo" class="logo" />
    </div>

    <!-- Sign In Form -->
    <form [formGroup]="recuperarForm" >
      <h5 class="text-center mb-4">{{ 'RECUPERACION_TITLE' | translate }}</h5>

      <!-- Phone Number Field -->
      <div class="form-group mb-3">
        <input type="text" class="form-control" placeholder="{{ 'Usuario' | translate }}" formControlName="usuario"  />
      </div>

      <!-- Password Field -->
      <div class="form-group mb-3">
        <input type="email" class="form-control" placeholder="{{ 'Correo' | translate }}" formControlName="correoElectronico" />
      </div>



      <!-- Login Button -->
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!recuperarForm.valid" (click)="onSubmit()">{{ 'ENVIAR_MAIL' | translate }}</button>

      <!-- Sign Up Link -->
      <p class="text-center mt-3">
      <a routerLink="/auth/login">{{ 'Regresar' | translate }}</a>
      </p>
    </form>
    </div>
</div>
