<div class="container" style="margin-top: 10px;">
  <div id="Representantespdf" #childDivR style="margin-top: 30px; margin-bottom: 50px;">
    <h3>{{ 'Representante_Legal' | translate }}</h3>
    <form [formGroup]="RepresentantesForm">
      <div formArrayName="representantes">
        <div class="alert alert-secondary" role="alert" style="white-space: pre-line;">
              <p style="white-space: pre-line;">
                La información de los representantes legales debe coincidir con aquella que se encuentra en el
                certificado de existencia y representación legal de la sociedad. Los apoderados deben ser igualmente
                incluidos en este espacio.
              </p>
            </div>
        <div *ngFor="let representante of representantes.controls; let i = index" [formGroupName]="i"
          class="border p-3 mb-2">
          <div class="d-flex justify-content-between align-items-center mb-2">
            <h5>{{ 'Representante_Legal' | translate }} {{ i + 1 }}</h5>
            <button *ngIf="editable" type="button" class="btn btn-danger" (click)="removeRepresentante(i)">
              <i class="bi bi-trash"></i>
            </button>
            
          </div>
          <div class="row">
            <div class="col-md-4 mb-3">
              <label>{{ 'NombreCompleto' | translate }}</label>
              <input type="text" formControlName="nombre" class="form-control" />
              <span *ngIf="representante.get('nombre')?.invalid && representante.get('nombre')?.touched"
                class="text-danger">
                {{ 'CampoRequerido' | translate }}
              </span>
            </div>
            <div class="col-md-4 mb-3">
              <label>{{ 'Tipo_Identificacion' | translate }}:</label>
              <select formControlName="tipoDocumento" class="form-control">
                <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                <option *ngFor="let tipo of ListaTipoDocumentos" [value]="tipo.id">{{ tipo.nombre }}</option>
              </select>
              <span *ngIf="representante.get('tipoDocumento')?.invalid && representante.get('tipoDocumento')?.touched"
                class="text-danger">
                {{ 'CampoRequerido' | translate }}
              </span>
            </div>
            <div class="col-md-4 mb-3">
              <label>{{ 'Numero_Identificacion' | translate }}:</label>
              <input type="text" formControlName="NumeroIdentificacion" class="form-control" />
              <span
                *ngIf="representante.get('NumeroIdentificacion')?.invalid && representante.get('NumeroIdentificacion')?.touched"
                class="text-danger">
                {{ 'CampoRequerido' | translate }}
              </span>
            </div>
            <div class="col-md-4 mb-3">
              <label>{{ 'Nacionalidad' | translate }}:</label>
              <select formControlName="Nacionalidad" class="form-control">
                <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                <option *ngFor="let pais of ListaPaises" [value]="pais.id">{{ pais.nombre }}</option>
              </select>
              <span *ngIf="representante.get('Nacionalidad')?.invalid && representante.get('Nacionalidad')?.touched"
                class="text-danger">
                {{ 'CampoRequerido' | translate }}
              </span>
            </div>
            <div class="col-md-4 mb-3">
              <label>{{ 'Teléfono' | translate }}:</label>
              <input 
                        type="text" 
                        class="form-control" 
                        formControlName="Telefono" 
                        (keypress)="allowOnlyNumbers($event)"
                        oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                    />
            </div>
            <div class="col-md-4">
              <label>{{ 'Ciudad' | translate }}</label>
              <input type="text" class="form-control" formControlName="Ciudad">

            </div>
            <div class="col-md-4">
              <label>{{ 'Direccion' | translate }}</label>
              <input type="text" class="form-control" formControlName="Direccion">

            </div>
            <div class="col-md-4 mb-3">
              <label>{{ 'Email' | translate }}:</label>
              <input type="email" formControlName="CorreoElectronico" class="form-control" />
              <span
                *ngIf="representante.get('CorreoElectronico')?.invalid && representante.get('CorreoElectronico')?.touched"
                class="text-danger">
                {{ 'CampoRequerido' | translate }}
              </span>
              <span
                *ngIf="representante.get('CorreoElectronico')?.errors?.['email'] && representante.get('CorreoElectronico')?.touched"
                class="text-danger">
                Ingrese un correo electrónico válido.
              </span>
            </div>
            <div class="col-md-4 mb-3">
              <label>{{ 'vinculadoPep' | translate }}</label>
              <select formControlName="vinculadoPep" class="form-control">
                <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
              </select>
              <span *ngIf="representante.get('vinculadoPep')?.invalid && representante.get('vinculadoPep')?.touched"
                class="text-danger">
                {{ 'CampoRequerido' | translate }}
              </span>
            </div>
          </div>
          <div class="row" *ngIf="representante.get('vinculadoPep')?.value === '1'">
            <div class="col-12">
              <div class="alert alert-secondary" role="alert" style="white-space: pre-line;">
                <h5 class="fw-bold">Definición de Persona Expuesta Políticamente (PEP)</h5>
                <p style="white-space: pre-line;">
                  De conformidad con la Ley 830 de 2021 se considerarán como Personas Expuestas Políticamente (PEP) los
                  servidores públicos de cualquier sistema de nomenclatura y clasificación de empleos de la
                  administración pública nacional y territorial, cuando tengan asignadas o delegadas funciones de:
                  Expedición de normas o regulaciones, dirección general, formulación de políticas institucionales y
                  adopción de planes, programas y proyectos, manejo directo de bienes, dineros o valores del Estado,
                  administración de justicia o facultades administrativas sancionatorias, y los particulares que tengan
                  a su cargo la dirección o manejo de recursos en los movimientos o partidos políticos.
                </p>
                <p class="mb-1">
                  Estas funciones podrán ser ejercidas a través de ordenación de gasto, contratación pública, gerencia
                  de proyectos de inversión, pagos, liquidaciones, administración de bienes muebles e inmuebles.

                  La calidad de Personas Expuestas Políticamente (PEP) se mantendrá en el tiempo durante el ejercicio
                  del cargo y por dos (2) años más desde la dejación, renuncia, despido o declaración de insubsistencia
                  del nombramiento, o de cualquier otra forma de desvinculación, o terminación del contrato.
                </p>
                <p class="mb-1">
                  Se entienden como Personas Expuestas Políticamente Extranjeras: (i) jefes de Estado, jefes de
                  Gobierno, Ministros, subsecretarios o secretarios de Estado; (ii) congresistas o parlamentarios; (iii)
                  miembros de tribunales supremos, tribunales constitucionales u otras altas instancias judiciales cuyas
                  decisiones no admitan normalmente recurso, salvo en circunstancias excepcionales; (iv) miembros de
                  tribunales o de las juntas directivas de bancos centrales; (v) embajadores, encargados de negocios
                  altos funcionarios de las fuerzas armadas; (vi) miembros de los órganos administrativos, de gestión o
                  de supervisión de empresas de propiedad estatal y (vii) representantes legales, directores,
                  subdirectores y/o miembros de las juntas directivas de organizaciones internacionales.
                  <br>
                  Se entienden como Personas Expuestas Políticamente de Organizaciones Internacionales como aquellas
                  personas naturales que ejercen funciones directivas en una organización internacional, tales como la
                  Organización de Naciones Unidas, Organización para la Cooperación y el Desarrollo Económicos, el Fondo
                  de las Naciones Unidas para la Infancia (UNICEF) y la Organización de Estados Americanos, entre otros
                  (vr.gr. directores, subdirectores, miembros de junta directiva o cualquier persona que ejerza una
                  función equivalente). De acuerdo con lo anterior, declaro:
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-3">
                <label>{{ 'ManejaRecursos' | translate }}</label>
                <select formControlName="ManejaRecursos" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span
                  *ngIf="representante.get('ManejaRecursos')?.invalid && representante.get('ManejaRecursos')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div>

              <div *ngIf="representante.get('ManejaRecursos')?.value === '1'" class="col-md-4 mb-3">
                <label>{{ 'CualesRecursos' | translate }}</label>
                <input type="text" formControlName="CualesRecursos" class="form-control" />
                <span
                  *ngIf="representante.get('CualesRecursos')?.invalid && representante.get('CualesRecursos')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div>

              <div class="col-md-4 mb-3">
                <label>{{ 'PoderPolitico' | translate }}</label>
                <select formControlName="PoderPolitico" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span *ngIf="representante.get('PoderPolitico')?.invalid && representante.get('PoderPolitico')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div>

              <div *ngIf="representante.get('PoderPolitico')?.value === '1'" class="col-md-4 mb-3">
                <label>{{ 'RamaPoderPublico' | translate }}</label>
                <input type="text" formControlName="RamaPoderPublico" class="form-control" />
                <span
                  *ngIf="representante.get('RamaPoderPublico')?.invalid && representante.get('RamaPoderPublico')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div>
              <div class="col-md-4 mb-3">
                <label>{{ 'CargoPublico' | translate }} </label>
                <select formControlName="CargoPublico" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span *ngIf="representante.get('CargoPublico')?.invalid && representante.get('CargoPublico')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div>

              <div *ngIf="representante.get('CargoPublico')?.value === '1'" class="col-md-4 mb-3">
                <label>{{ 'CualCargoPublico' | translate }}</label>
                <input type="text" formControlName="CualCargoPublico" class="form-control" />
                <span
                  *ngIf="representante.get('CualCargoPublico')?.invalid && representante.get('CualCargoPublico')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div>

              <!-- <div class="col-md-4 mb-3">
                <label>{{ 'ObligacionTributaria' | translate }} </label>
                <select formControlName="ObligacionTributaria" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span
                  *ngIf="representante.get('ObligacionTributaria')?.invalid && representante.get('ObligacionTributaria')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div> -->

              <!-- <div *ngIf="representante.get('ObligacionTributaria')?.value === '1'" class="col-md-4 mb-3">
                <label>{{ 'PaisesObligacionTributaria' | translate }}</label>
                <ng-select id="PaisesObligacionTributaria" formControlName="PaisesObligacionTributaria"
                  [items]="ListaPaises" bindLabel="nombre" bindValue="nombre" [multiple]="true"
                  class="form-control custom-ng-select" (change)="onPaisesObligacionTributariaChange(i,$event)">
                </ng-select>
                <span
                  *ngIf="representante.get('PaisesObligacionTributaria')?.invalid && representante.get('PaisesObligacionTributaria')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div> -->

              <!-- <div class="col-md-4 mb-3">
                <label>{{ 'CuentasFinancierasExt' | translate }} </label>
                <select formControlName="CuentasFinancierasExt" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span
                  *ngIf="representante.get('CuentasFinancierasExt')?.invalid && representante.get('CuentasFinancierasExt')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div> -->

              <!-- <div *ngIf="representante.get('CuentasFinancierasExt')?.value === '1'" class="col-md-4 mb-3">
                <label>{{ 'PaisesCuentasExt' | translate }}</label>
                <ng-select id="PaisesCuentasExt" formControlName="PaisesCuentasExt"
                [items]="ListaPaises" bindLabel="nombre" bindValue="nombre" [multiple]="true"
                class="form-control custom-ng-select" (change)="onPaisesCuentasExtChange(i,$event)">
              </ng-select>
                <span
                  *ngIf="representante.get('PaisesCuentasExt')?.invalid && representante.get('PaisesCuentasExt')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div> -->

              <!-- <div class="col-md-4 mb-3">
                <label>{{ 'TienePoderCuentaExtranjera' | translate }}</label>
                <select formControlName="TienePoderCuentaExtranjera" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span
                  *ngIf="representante.get('TienePoderCuentaExtranjera')?.invalid && representante.get('TienePoderCuentaExtranjera')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div> -->

              <!-- <div *ngIf="representante.get('TienePoderCuentaExtranjera')?.value === '1'" class="col-md-4 mb-3">
                <label>{{ 'PaisesPoderCuentaExtranjera' | translate }}</label>
                <ng-select id="PaisesPoderCuentaExtranjera" formControlName="PaisesPoderCuentaExtranjera"
                [items]="ListaPaises" bindLabel="nombre" bindValue="nombre" [multiple]="true"
                class="form-control custom-ng-select" (change)="onPaisesPoderCuentaExtranjeraChange(i,$event)">
              </ng-select>
                <span
                  *ngIf="representante.get('PaisesPoderCuentaExtranjera')?.invalid && representante.get('PaisesPoderCuentaExtranjera')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div> -->

              <div class="col-md-4 mb-3">
                <label>{{ 'hasidoPep2' | translate }} </label>
                <select formControlName="hasidoPep2" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span *ngIf="representante.get('hasidoPep2')?.invalid && representante.get('hasidoPep2')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div>

              <div class="col-md-12">
                <div formArrayName="cargosPublicos" *ngIf="representante.get('hasidoPep2')?.value === '1'"
                  class="border border-3  p-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6>{{ 'cargosPublicos' | translate }}</h6>
                    <button *ngIf="editable" type="button" class="btn btn-primary mt-2" (click)="addCargoPublico(i)">{{
                      'AgregarCargoPublico' | translate }}<i class="bi bi-plus"></i>
                    </button>
                  </div>
                  <div *ngFor="let cargo of getCargosPublicos(i).controls; let j = index" [formGroupName]="j"
                    class="border p-2">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <h6>{{ 'cargoPublico' | translate }} {{j+1}}</h6>
                      <button *ngIf="editable" type="button" class="btn btn-danger" (click)="removeCargoPublico(i, j)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'NombreEntidad' | translate }}</label>
                      <input type="text" formControlName="NombreEntidad" class="form-control" />
                      <span *ngIf="cargo.get('NombreEntidad')?.invalid && cargo.get('NombreEntidad')?.touched"
                        class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'FechaIngreso' | translate }}</label>
                      <input type="date" formControlName="FechaIngreso" class="form-control" />
                      <span *ngIf="cargo.get('FechaIngreso')?.invalid && cargo.get('FechaIngreso')?.touched"
                        class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'FechaDesvinculacion' | translate }}</label>
                      <input type="date" formControlName="FechaDesvinculacion" class="form-control" />
                    </div>
                  </div>
                  <!-- Botón para agregar otro cargo -->
                  <span *ngIf="getCargosPublicos(i)?.controls?.length === 0" class="text-danger">
                    {{ 'DebeDilCargoPublico' | translate }}
                  </span>

                </div>
              </div>

              <!-- <div class="col-md-6" style="margin: 11px;">
                <label>{{ 'Tienevinculosmas5' | translate }} </label>
                <select formControlName="Tienevinculosmas5" class="form-control">
                  <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                  <option *ngFor="let sino of ListaSino" [value]="sino.id">{{ sino.nombre }}</option>
                </select>
                <span
                  *ngIf="representante.get('Tienevinculosmas5')?.invalid && representante.get('Tienevinculosmas5')?.touched"
                  class="text-danger">
                  {{ 'CampoRequerido' | translate }}
                </span>
              </div> -->

              <div class="col-md-12">

                <div formArrayName="Vinculosmas" *ngIf="representante.get('Tienevinculosmas5')?.value === '1'"
                  class="border border-3 p-3">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <h6>{{ 'Vinculos' | translate }}</h6>
                    <button *ngIf="editable" type="button" class="btn btn-primary mt-2" (click)="addVinculomas5(i)">{{
                      'AgregarVinculo' | translate }}<i class="bi bi-plus"></i>
                    </button>
                  </div>
                  <div *ngFor="let cargo of getVinculomas5(i).controls; let j = index" [formGroupName]="j"
                    class="border p-2">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <h6>{{ 'Vinculo' | translate }} {{j+1}}</h6>
                      <button *ngIf="editable" type="button" class="btn btn-danger" (click)="removeVinculomas5(i, j)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'Nombre_o_Razon_Social' | translate }}:</label>
                      <input type="text" formControlName="NombreCompleto" class="form-control" />
                      <span *ngIf="cargo.get('NombreCompleto')?.invalid && cargo.get('NombreCompleto')?.touched"
                        class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'Tipo_Identificacion' | translate }}:</label>
                      <select formControlName="TipoIdentificacion" class="form-control">
                        <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                        <option *ngFor="let documento of ListaTipoDocumentos" [value]="documento.id">{{ documento.nombre
                          }}</option>
                      </select>
                      <span *ngIf="cargo.get('TipoIdentificacion')?.invalid && cargo.get('TipoIdentificacion')?.touched"
                        class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'Numero_Identificacion' | translate }}</label>
                      <input type="text" formControlName="NumeroIdentificacion" class="form-control" />
                      <span
                        *ngIf="cargo.get('NumeroIdentificacion')?.invalid && cargo.get('NumeroIdentificacion')?.touched"
                        class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'Pais' | translate }}</label>
                      <select formControlName="Pais" class="form-control">
                        <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                        <option *ngFor="let pais of ListaPaises" [value]="pais.id">{{ pais.nombre }}</option>
                      </select>
                      <span *ngIf="cargo.get('Pais')?.invalid && cargo.get('Pais')?.touched" class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                    </div>
                    <div class="col-md-4 mb-3">
                      <label>{{ 'PorcParti' | translate }}</label>
                      <input type="number" formControlName="PorcentajeParticipacion" class="form-control" in="0"
                        max="100" />
                      <span
                        *ngIf="cargo.get('PorcentajeParticipacion')?.invalid && cargo.get('PorcentajeParticipacion')?.touched"
                        class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                    </div>
                  </div>
                  <!-- Botón para agregar otro cargo -->
                  <span *ngIf="getVinculomas5(i)?.controls?.length === 0" class="text-danger">
                    {{ 'DebeDilVinculo' | translate }}
                  </span>

                </div>

              </div>
              <div class="col-md-12">
                <div formArrayName="InfoFamiliaPep" style="margin-top: 10px;" class="border border-3 p-3">

                  <h6>{{ 'InfomacionFamiliar' | translate }} <span class="text-danger">*</span></h6>
                  <div *ngFor="let cargo of getInfoFamiliar(i).controls; let j = index" [formGroupName]="j"
                    class="border p-2">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                      <h6>{{ 'Vinculo' | translate }}{{j+1}}</h6>
                      <button *ngIf="editable" type="button" class="btn btn-danger" (click)="removeInfoFamilia(i, j)">
                        <i class="bi bi-trash"></i>
                      </button>
                    </div>
                    <div class="row">
                      <div class="col-md-4 mb-3">
                        <label>{{ 'Nombre_o_Razon_Social' | translate }}:</label>
                        <input type="text" formControlName="NombreCompleto" class="form-control" />
                        <span *ngIf="cargo.get('NombreCompleto')?.invalid && cargo.get('NombreCompleto')?.touched"
                          class="text-danger">
                          {{ 'CampoRequerido' | translate }}
                        </span>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label>{{ 'Tipo_Identificacion' | translate }}</label>
                        <select formControlName="TipoIdentificacion" class="form-control">
                          <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                          <option *ngFor="let documento of ListaTipoDocumentos" [value]="documento.id">{{
                            documento.nombre
                            }}</option>
                        </select>
                        <span
                          *ngIf="cargo.get('TipoIdentificacion')?.invalid && cargo.get('TipoIdentificacion')?.touched"
                          class="text-danger">
                          {{ 'CampoRequerido' | translate }}
                        </span>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label>{{ 'Numero_Identificacion' | translate }}</label>
                        <input type="text" formControlName="NumeroIdentificacion" class="form-control" />
                      </div>
                      <span
                        *ngIf="cargo.get('NumeroIdentificacion')?.invalid && cargo.get('NumeroIdentificacion')?.touched"
                        class="text-danger">
                        {{ 'CampoRequerido' | translate }}
                      </span>
                      <div class="col-md-4 mb-3">
                        <label>{{ 'CargoContacto' | translate }}:</label>
                        <input type="text" formControlName="CargoContacto" class="form-control" />
                        <span *ngIf="cargo.get('CargoContacto')?.invalid && cargo.get('CargoContacto')?.touched"
                          class="text-danger">
                          {{ 'CampoRequerido' | translate }}
                        </span>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label>{{ 'Nacionalidad' | translate }}</label>
                        <select formControlName="Nacionalidad" class="form-control">
                          <option value="-1" disabled selected>{{ 'Seleccione' | translate }}</option>
                          <option *ngFor="let pais of ListaPaises" [value]="pais.id">{{ pais.nombre }}</option>
                        </select>
                        <span *ngIf="cargo.get('Nacionalidad')?.invalid && cargo.get('Nacionalidad')?.touched"
                          class="text-danger">
                          {{ 'CampoRequerido' | translate }}
                        </span>
                      </div>
                      <div class="col-md-4 mb-3">
                        <label>{{ 'VinculoFamiliar' | translate }}</label>
                        <input type="text" formControlName="VinculoFamiliar" class="form-control" />
                        <span *ngIf="cargo.get('VinculoFamiliar')?.invalid && cargo.get('VinculoFamiliar')?.touched"
                          class="text-danger">
                          {{ 'CampoRequerido' | translate }}
                        </span>
                      </div>
                      <!--===============
                        AGREGAR CAMPOS AL BACKEND
                        =====================-->
                      <div class="col-md-4">
                        <label>{{ 'UltimoCargo' | translate }}</label>
                        <input type="text" formControlName="VinculoFamiliar" class="form-control" />
                      </div>
                      <div class="col-md-4">
                        <label>{{ 'FechaNombramiento' | translate }}<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" formControlName="FechaNombramiento">
                      </div>
                      <div class="col-md-4">
                        <label>{{ 'FechaFinalizacion' | translate }}<span class="text-danger">*</span></label>
                        <input type="date" class="form-control" formControlName="FechaFinalizacion">
                      </div>
                      <!--===============
                      FIN
                      =====================-->
                    </div>
                  </div>

                  <!-- Botón para agregar otro cargo -->
                  <button *ngIf="editable" type="button" class="btn btn-primary mt-2" (click)="addInfoFamilia(i)">{{
                    'AgregarFamiliar' | translate }}</button>
                </div>
                <span *ngIf="getInfoFamiliar(i)?.controls?.length === 0" class="text-danger">
                  {{ 'DebeFamilia' | translate }}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button *ngIf="editable" type="button" class="btn btn-primary mt-2" (click)="addRepresentante()">{{
        'AgregarRepresantante' | translate }}</button>
    </form>
  </div>
</div>