.custom-ng-select {
    background-color: white;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    display: block;
  }
  
  .custom-ng-select .ng-select-container {
    background-color: white;
    border-color: #ced4da;
    display: block;
  }
  
  .custom-ng-select .ng-select-container .ng-select {
    border-color: #ced4da;
    background-color: white;
    display: block;
  }
  
  .custom-ng-select .ng-select-container .ng-value-container {
    color: #495057;
  }
  
  .custom-ng-select .ng-select-container .ng-value-container .ng-value {
    background-color: #e9ecef;
    border-radius: 0.25rem;
    padding: 0.375rem 0.75rem;
  }
  
  .custom-ng-select .ng-select-container .ng-input {
    color: #495057;
  }
  
  .custom-ng-select .ng-select-container .ng-clear-wrapper {
    color: #495057;
  }
  
  .custom-ng-select .ng-select-container .ng-arrow-wrapper {
    color: #495057;
  }
  
  .custom-ng-select .ng-dropdown-panel {
    background-color: white;
  }
  
  .custom-ng-select .ng-dropdown-panel .ng-option {
    color: #495057;
    padding: 0.5rem 1rem; /* Ajusta el espacio dentro de los elementos */
    margin-bottom: 0.25rem; /* Agrega espacio entre los elementos */
  }
  
  .custom-ng-select .ng-dropdown-panel .ng-option-selected {
    background-color: #e9ecef;
    color: #495057;
    padding: 0.5rem 1rem; /* Ajusta el espacio dentro de los elementos */
    margin-bottom: 0.25rem; /* Agrega espacio entre los elementos */
  }


  .custom-modal-width .modal-dialog {
    max-width: 40%; /* Ajusta el porcentaje según sea necesario */
    margin-top: -10%;
  }
  

  .custom-modal-width2 .modal-dialog {
    max-width: 90%; /* Ajusta el porcentaje según sea necesario */
   
  }